.aboutContainer {
  padding: 1rem;
  /* height: 100vh; */
  min-height: 100vh;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
}
.topSection {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.bottomSection {
  /* background: linear-gradient(to left, #000000, #aca9a5);  */
  background: linear-gradient(to right, #000000, #814c08);
  border: 1px solid rgb(90, 84, 84);
  border-radius: 1rem;
}
.bottomSection:hover {
  /* background: linear-gradient(to left, #000000, #aca9a5); */
  /* border: 1px solid rgb(255, 254, 254); */
}
.cardsGrid {
  padding-top: 1rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.manufacturingContainer,
.frontendContainer {
  display: flex;
  flex-direction: column;
}

.toolkitCard {
  padding: 1rem;
  display: flex;
  background: linear-gradient(to left, #000000, #814b05);
  border: 1px solid rgb(90, 84, 84);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.toolkitCard:hover {
  background: linear-gradient(to left, #000000, #aca9a5);
  border: 1px solid rgb(255, 254, 254);
}
.imgContainer {
  display: flex;
  height: 100px;
}
.titleContainer h3 {
  text-align: center;
}
.imgContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
  border-radius: 1rem;
}

.titleContainer {
  width: 100%;
}

/* //// PLAYER /////*/

.detailsPanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.detailsHeader {
  border-bottom: 1px solid;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.detailsHeader:hover {
  background: linear-gradient(to left, #000000, #aca9a5);
  border-radius: 1rem;
}
.detailsHeaderLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.detailsHeaderLeft img {
  display: flex;
  height: 100px;
  margin: 1rem;
  border-radius: 1rem;
}

.detailsHeaderRight {
}
.detailsCloseBtn {
  background-color: whitesmoke;
  color: black;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}
.detailsPlayer {
  margin: 1rem;
  width: calc(100% - 2rem);
  height: auto;
  padding: 1rem;
  background: linear-gradient(to right, #000000, #814c08);
}
.detailsPlayer:hover {
  background: linear-gradient(to left, #000000, #aca9a5);
}
video {
  border: 1px solid grey;
  border-radius: 1rem;
}
.detailsSummary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.detailsTools {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.detailsToolsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.detailsList {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.detailsList li {
  margin-left: 2rem;
  padding-left: 1rem;
  list-style: disc;
}
.detailsToolsList {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.detailsTools h4 {
  text-align: left;
}
.detailsTools li {
  background: linear-gradient(to right, #000000, #814c08);
  border: 1px solid rgb(107, 73, 11);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.detailsTools li:hover {
  background: linear-gradient(to left, #000000, #aca9a5);
}
