.aboutContainer {
  padding: 1rem;
  /* height: 100vh; */
  min-height: 100vh;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.topSection {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.bottomSection {
  background: linear-gradient(to right, #000000, #814c08);
  border: 1px solid rgb(90, 84, 84);
  border-radius: 5px;
}
.cardsGrid {
  padding-top: 1rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.manufacturingContainer,
.frontendContainer {
  display: flex;
  flex-direction: column;
}

.toolkitCard {
  padding: 1rem;
  display: flex;
  background: linear-gradient(to left, #000000, #814b05);
  border: 1px solid rgb(90, 84, 84);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.toolkitCard:hover {
  background: linear-gradient(to left, #000000, #aca9a5);
  border: 1px solid rgb(255, 254, 254);
}
.imgContainer {
  display: flex;
  height: 100px;
}
.titleContainer h3 {
  text-align: center;
}
.imgContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.titleContainer {
  width: 100%;
}

/* //// PLAYER /////*/

.detailsPanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.detailsHeader {
  display: flex;
  gap: 1rem;
  border: 1px solid blue;
  align-items: center;
  justify-content: space-between;
}
.detailsHeaderLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.detailsHeaderRight {
}
.detailsCloseBtn {
  background-color: whitesmoke;
  color: black;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.detailsPlayer {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  width: 100%;
  height: auto;
}
.detailsSummary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.detailsTools {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid red;
}
.detailsToolsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
