.aboutImage {
  width: 100%;
  height: 30vh;
  background-image: url("../../assets/about_me.jpg");
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center 45%;
  opacity: 0.7;
}
