h1 {
  text-align: left;
  padding-top: 1rem;
}
.container {
  display: flex;
  flex-direction: row;
}
.imageContainer {
  display: flex;
  width: 50%;
  height: 600px;
  background-image: url("../../assets/ME_NEW.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  margin-left: -2rem;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 600px;
}
.downloadBottom {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1.5rem;
}
