.hobbyImage {
  width: 100%;
  height: 30vh;
  background-image: url("../../assets/Hobby.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50%;
  opacity: 0.4;
}
