nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-end;

  padding: 1rem 2rem;
}
.navTitle {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
}
.navLink {
  padding: 1rem;
  height: fit-content;
  border-left: 1px solid rgb(252, 248, 248);
  margin: 0;
  padding-left: 1rem;
}
