.caseStudy {
  text-align: left;
  padding: 1rem;
}
.caseStudy h1 {
  text-align: center;
  padding: 1rem;
}
.caseStudy h2 {
  text-align: center;
  padding: 1rem;
}

.caseStudy h3 {
  text-align: left;
}

/* ////////////// */
.chartsContainer {
  text-align: center;
  width: auto;
}

.chartsContainer img {
  max-width: 500px;
  height: auto;
  margin: auto;
}
.chartsContainer h3 {
  text-align: center;
  padding: 1rem;
}
/* ////////////// */
.nestingContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: auto;
  /* border: 1px solid; */
}
.nestingContainer img {
  max-width: 500px;
  height: auto;
  margin: auto;
  padding: 1rem;
}

.secondRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* border: 1px solid; */
}
.secondRow img {
  max-width: 300px;
  height: auto;
  margin: auto;
  padding: 1rem;
}
.thirdRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* border: 1px solid; */
}
.thirdRow img {
  max-width: 500px;
  height: auto;
  margin: auto;
  padding: 1rem;
}
