.caseStudy {
  text-align: left;
  padding: 1rem;
}
.caseStudy h1 {
  text-align: center;
  padding: 1rem;
}
.caseStudy h2 {
  text-align: center;
  padding: 1rem;
}

.caseStudy h3 {
  text-align: left;
}

.chartsContainer {
  text-align: center;
  width: auto;
}

.chartsContainer img {
  max-width: 500px;
  height: auto;
  margin: auto;
}
.chartsContainer h3 {
  text-align: center;
  padding: 1rem;
}

.nestingContainer,
.secondRowContainer,
.thirdRowContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background: linear-gradient(to right, #000000, #814b05);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid rgba(148, 147, 145, 0.12);
}

.nestingContainer img,
.thirdRowContainer img {
  max-width: 500px;
  border: 1px solid rgb(148, 147, 145);
  border-radius: 8px;
}
.secondRowContainer img {
  max-height: 500px;
  border: 1px solid rgb(148, 147, 145);
  border-radius: 8px;
}
.tableContainer {
  width: 100%;
  padding: 1rem;
}
.tableContainer th,
.tableContainer td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid;
  color: rgb(255, 255, 255);
}
.tableContainer tr:hover {
  background-color: #9b9389;
}
