.portfolioCardImage {
  padding: 1rem;
  height: 200px;
  width: 100%;
}

.composites:hover button,
.nesting:hover button,
.honeycomb:hover button {
  background-color: #3e2c16;
  color: #000;
}
.portfolioCardTitle {
  color: #f5e6d3;
}
