.portfolioImage {
  width: 100%;
  height: 300px;
  background-image: url("../../assets/honeycomb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
.category {
  text-align: center;
}
.categoryContainer {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.composites,
.nesting,
.honeycomb {
  padding: 1rem;
  margin: 1rem;
  height: 400px;
  width: 400px;
  border: 1px solid black;
  border-radius: 3%;
  background-color: rgb(63, 63, 63);
}
.imageComposites,
.imageNesting,
.imageHoneycomb {
  width: 100%;
  height: 50%;
  border: 1px solid whitesmoke;
  border-radius: 3%;
}
h3 {
  color: black;
}
