.portfolioCss {
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0.2rem;
  min-height: fit-content;
}
.portfolioImage {
  width: 100%;
  height: 30vh;
  background-image: url("../../assets/honeycomb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.category {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.categoryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.composites,
.nesting,
.honeycomb {
  padding: 1rem;
  margin: 1rem;

  width: 300px;
  border-radius: 3%;
  background-color: #3e2c16;
  border: 1px solid #938f8a;
}
.imageComposites,
.imageNesting,
.imageHoneycomb {
  padding: 1rem;
  height: 200px;
  width: 100%;
}
.composites,
.nesting,
.honeycomb {
  box-shadow: 0 8px 15px rgb(118, 80, 4);
  transition: all 0.3s ease;
}
.composites:hover,
.nesting:hover,
.honeycomb:hover {
  transform: translateY(-5px);
  border-color: #3e2c16;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  filter: brightness(1.08);
}
.composites:hover button,
.nesting:hover button,
.honeycomb:hover button {
  background-color: #3e2c16;
  color: #000;
}
.title {
  color: #f5e6d3;
}

.categoryButton {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.composites,
.nesting,
.honeycomb {
  max-width: 380px;
}
@media (min-width: 1200px) {
  .categoryContainer {
    max-width: 1200px;
    margin: 0 auto;
  }
}
